<div>
  <div id="header_inv">
    <button id="btn_account" (click)="submitCerrarSesion()">Cerrar Sesión</button>
    <h1 id="tittle">Gest_Recurses</h1>
    <button type="button" id="btn_solicitud" (click)="submitRevision()">Solicitudes en Revisión</button>
  </div>
</div>
<div id="container_dash-inv">
  <div id="container_inv">
    <div class="status-card" (click)="verModal('Aprobadas')">
      <div class="status-text">Aprobadas</div>
      <img class="image" src="aprovado.png">
    </div>
    <div class="status-card" (click)="verModal('Denegadas')">
      <div class="status-text">Denegadas</div>
      <img class="image" src="denegado.png">
    </div>
    <div class="status-card" (click)="verModal('Pendientes')">
      <div class="status-text">Pendientes</div>
      <img class="image" src="pendiente.png">
    </div>
  </div>
</div>

<div *ngIf="ModalAbierta && Titulo === 'Aprobadas'" class="modal-overlay">
  <div class="modal-content">
    <div id="container_inv_modal">
      <div *ngFor="let solicitud of solicitudesAprobadas" id="card_recurso">
        <h3 [ngClass]="{'aprobado': solicitud.Estado === 'Aprobado'}">
          {{ solicitud.Estado }}
        </h3>
        <p><strong>Motivo de la Solicitud: </strong>{{ solicitud.MotivoSolicitud }}</p>
        <p><strong>Fecha de Entrega: </strong>{{ solicitud.FechaSolicitud | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Comentarios: </strong>{{ solicitud.ComentariosAdicionales }}</p>
      </div>
    </div>
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>


<div *ngIf="ModalAbierta && Titulo === 'Denegadas'" class="modal-overlay">
  <div class="modal-content">
    <div id="container_inv_modal">
      <div *ngFor="let solicitud of solicitudesDenegadas" id="card_recurso">
        <h3 [ngClass]="{'denegado': solicitud.Estado === 'Denegado'}">
          {{ solicitud.Estado }}
        </h3>
        <p><strong>Motivo de la Solicitud: </strong>{{ solicitud.MotivoSolicitud }}</p>
        <p><strong>Fecha de Entrega: </strong>{{ solicitud.FechaSolicitud | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Comentarios: </strong>{{ solicitud.ComentariosAdicionales }}</p>
      </div>
    </div>
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>


<div *ngIf="ModalAbierta && Titulo === 'Pendientes'" class="modal-overlay">
  <div class="modal-content">
    <div id="container_inv_modal">
      <div *ngFor="let solicitud of solicitudesPendientes" id="card_recurso">
        <h3 [ngClass]="{'pendiente': solicitud.Estado === 'Pendiente'}">
          {{ solicitud.Estado }}
        </h3>
        <p><strong>Motivo de la Solicitud: </strong>{{ solicitud.MotivoSolicitud }}</p>
        <p><strong>Fecha de Entrega: </strong>{{ solicitud.FechaSolicitud | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Comentarios: </strong>{{ solicitud.ComentariosAdicionales }}</p>
        <button (click)="enviarRevision(solicitud)">Revision</button>
      </div>
    </div>
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
