/*DIV*/

#contianer_dash-inv{
    display: flex;
}

#header_inv {
    height: 10vh;
    padding: 0px 10px 0px 10px; 
    background-color: #A4BFEB; 
    display: flex; 
    align-items: center;
}


#container_inv{
    height: 90vh;
    width: 100vw;
    background-color: #5D5D5D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card_recurso{
    height: 40%;
    width: 30%;
    border: solid black 2px;
}

#top_container_inv{
    width: 100vw;
    display: flex;
    align-items: center;
}

/*TEXT*/

#tittle{
    font-size: 45px;
    width: 100vw;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

#tittle_recurses{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex: 1;
}


/*BTN*/

#btn_account{
    background-color: #4B8BBE;
    height: 50px;
    width: 50px;
    border-radius: 60px;
    cursor:pointer;
}

#btn_solicitud{
    background-color: #4B8BBE;
    height: 45px;
    width: 120px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

#btn_recurso{
    background-color: #4B8BBE;
    margin-top: 10px;
    margin-right: 10px;
    height: 45px;
    width: 110px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}