  <div id="container_list">
    <div *ngFor="let recurso of recursos" id="container_father">
      <p>{{ recurso.Titulo }} - {{ recurso.Autores }}</p>
      <button (click)="editarRecurso(recurso)">Editar</button>
      <button (click)="eliminarRecurso(recurso.IDRecurso)">Eliminar</button>
    </div>
    
    <div *ngIf="recursoSeleccionado" id="container_editar">
      <h3>Editar Recurso</h3>
      <form (ngSubmit)="actualizarRecurso()" id="form_update">
        <input [(ngModel)]="recursoSeleccionado.Titulo" name="Titulo" required />
        <input [(ngModel)]="recursoSeleccionado.TipoRecurso" name="Tipo_Rocumento" required />
        <input [(ngModel)]="recursoSeleccionado.Autores" name="Autores" required />
        <input [(ngModel)]="recursoSeleccionado.FechaPublicacion" type="date" name="Fecha_Publicacion" required />
        <input [(ngModel)]="recursoSeleccionado.Resumen" name="Resumen" required />
        <input [(ngModel)]="recursoSeleccionado.Idioma" name="Idioma" required />
        <input [(ngModel)]="recursoSeleccionado.NumeroPaginas" type="number" name="Numero_Paginas" required /> <br>
        <button type="submit">Actualizar</button>
        <button (click)="recursoSeleccionado = null">Cancelar</button>
      </form>
    </div>
</div>
  
  