
#contianer_dash-inv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#header_inv {
    height: 10vh;
    padding: 0px 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
}

#container_inv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:static;
    gap: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#top_container_inv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#tittle,
#tittle_recurses {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.recurso-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 15px 0;
    width: 40%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

.recurso-card:hover {
    background-color: #e0e0e0;
}

#card_recurso p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    font-family: Arial, sans-serif;
}

#container_btn {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#btn_denegar,
#btn_aprobar {
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn_denegar { background-color: #F44336; }

#btn_denegar:hover { background-color: #d32f2f; }

#btn_aprobar { background-color: #4CAF50; }

#btn_aprobar:hover { background-color: #388E3C; }

#btn_account,
#btn_solicitud {
    background-color: #4B8BBE;
    color: #ffffff;
    border: none;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#btn_account:hover,
#btn_solicitud:hover {
    background-color: #3A6FA0;
}

#card_recurso p {
    font-size: 16px;
    color: #555; 
    margin: 5px 0; 
    font-family: Arial, sans-serif;
    line-height: 1.5; 
    text-align: left; 
    font-weight: 500; 
}

#card_recurso p:first-child {
    font-weight: bold;
    font-size: 18px;
    color: #333; 
}

#textarea {
    resize: none;
    height: 60px;
}
#textarea:focus{
    border-color: #0386f2;
    box-shadow: 0px 0px 5px rgba(19, 149, 255, 0.5);
}