<div>
    <div id="header_inv">
        <button id="btn_account" (click)="submitCerrarSesion()">Cerrar Sesión</button>
        <button id="btn_account" (click)="submitCuenta()">Cuenta</button>
        <h1 id="tittle">Gest_Recurses</h1>
        <button type="button" (click)="submitSolicitud()" id="btn_solicitud">Solicitudes</button>
        <button type="button" (click)="submitCrearRecursos()" id="btn_recurso">Crear Recurso</button>
    </div>
</div>
<div id="contianer_dash-inv">
    <div id="container_inv"> 
        <div id="top_container_inv">
            <h1 id="tittle_recurses">Mis Recursos</h1>
        </div>   
        <div *ngFor="let recurso of recursos" class="recurso-card">
            <div id="card_recurso">
                <div id="card-header">
                    <button (click)="opneModal(recurso)" id="btn-modificar">Modificar</button>
                    <button (click)="eliminarRecurso(recurso)" id="btn-eliminar">Eliminar</button>
                </div>
                <h3>{{ recurso.Titulo }}</h3>
                <p><strong>Tipo:</strong> {{ recurso.TipoRecurso }}</p>
                <p><strong>Autores:</strong> {{ recurso.Autores }}</p>
                <p><strong>Fecha de Publicación:</strong> {{ recurso.FechaPublicacion | date: 'yyyy-MM-dd'  }}</p>
                <p><strong>Resumen:</strong> {{ recurso.Resumen }}</p>
                <p><strong>Idioma:</strong> {{ recurso.Idioma }}</p>
                <p><strong>Número de Páginas:</strong> {{ recurso.NumeroPaginas }}</p>
                <a [href]="recurso.archivo" download="{{ formatTitulo(recurso.Titulo) }}.pdf">
                    <button id="btn_descargar" type="button">Descargar Archivo</button>
                </a>
            </div>              
        </div>        
    </div>
</div>

<div *ngIf="verModal" id="modal">
    <div id="modal-content">
        <div id="title_form">
          <h1 id="title_form-text">Formulario Recurso</h1>
        </div>
        <form [formGroup]="recursoForm" (ngSubmit)="modificarRecurso()">
          <div id="container_form-inputs">
            <input id="btn_titulo" formControlName="Titulo" placeholder="Título">
            <select id="select_recurso" formControlName="TipoRecurso">
              <option value="Artículo">Artículo</option>
              <option value="Tesis">Tesis</option>
              <option value="Libro">Libro</option>
              <option value="Informe">Informe</option>
            </select>
            <input id="btnAutor" formControlName="Autores" placeholder="Autores">
            <input id="btnFecha" formControlName="FechaPublicacion" type="date" max="2024-12-31">
            <textarea id="textarea" formControlName="Resumen" placeholder="Resumen"></textarea>
            <input id="btnIdioma" formControlName="Idioma" placeholder="Idioma">
            <input id="btnNum" type="number" formControlName="NumeroPaginas" placeholder="Número de Páginas">
            <input id="btnArchivo" formControlName="archivo" type="file" (change)="onFileSelected($event)" placeholder="Archivo">
            <button id="btn_send" type="submit">Enviar</button>
            <button id="btn_cancel" type="button" (click)="cerrarModal()">Cancelar</button>
          </div>
        </form>
      </div>
</div>
