<form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
  <div id="container_list">
    <input formControlName="IDInvestigador" value="1" placeholder="IDInvestigador">
    <input formControlName="IDRecurso" value="4" placeholder="IDRecurso">
    <input formControlName="IDRevisor" value="1" placeholder="IDRevisor">
    <input formControlName="FechaSolicitud" type="date" max="today">
    <textarea formControlName="MotivoSolicitud" placeholder="Motivo de laSolicitud"></textarea>
    <input formControlName="Estado" placeholder="Estado">
    <input formControlName="FechaEntrega" placeholder="Fecha de Entrega">
    <input formControlName="ComentariosAdicionales" placeholder="Comentarios">  
    <button type="submit">Enviar</button>
  </div>
</form>
