<body class="body">
  <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
    <div id="container_body">
      <div id="container_form">
        <div id="title_form">
          <h1 id="title_form-text">Formulario Solicitud</h1>
        </div>
        <div id="container_form-inputs">
          <select formControlName="IDRecurso">
            <option *ngFor="let recurso of recursos" [value]="recurso.IDRecurso">{{ recurso.Titulo }}</option>
          </select>
          <select formControlName="IDRevisor">
            <option *ngFor="let revisor of revisores" [value]="revisor.id">{{ revisor.nombre }}</option>
          </select>                   
          <input id="btnFecha" formControlName="FechaSolicitud" type="date" max="2024-12-31">
          <textarea id="textarea" formControlName="MotivoSolicitud" placeholder="Motivo de la Solicitud"></textarea>
          <button id="btn_send" type="submit">Enviar</button>
          <button id="btn_cancel" type="button" (click)="submitBtnCancel()">Cancelar</button>
        </div>      
      </div>
    </div>
  </form>
</body>
